<div id="result"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>	
<script type="text/javascript">
$(document ).ready(function() {
    result = repeatedString("aba",10);
    $('#result').html(result);
});

function repeatedString(s, n) {
    let x = Math.floor(n / s.length);
    let count = (s.split("a").length - 1) * x;
    let rem = n % s.length;

    for (var i = 0; i < rem; i++) {
        if (s.charAt(i) === "a") {
            count++;
        }
    }
    return count;
}

</script>